#main {
    height: 200px;
    background-color: white;
    background-image: repeating-linear-gradient(-45deg, #090,
                                                #2a4f32 10%);
}

.div1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
}

.div2 {
    font-size: 17px;
    text-align: center;
}